<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ツリー構造のルート</title>
</head>
<body>
	<div th:fragment="item">
		<a href="" th:href="${node.attributeValue('href')}"
			th:target="${node.attributeValue('target')}"> 
			<span th:text="${node.getText()}">リンク1 NoServer</span>
		</a>
		<!-- (item's content here) -->
		</span>
		<ul>
			<li th:each="node : ${node.elements()}">
				<div th:replace="fragment/treeRecursively::item">
				<!-- (sub-nodes here) -->
				</div>
			</li>
		</ul>
	</div>

</body>
</html>